.controls-main {
    width: 58%;
    height: 85%;

    border-radius: 0.8rem;

    padding: 6rem 1rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: var(--wood-palette-300-3);
    border: 0.1rem solid var(--wood-palette-400);
    outline: 0.2rem solid var(--wood-palette-400);
    outline-style: inset;
}


.line-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}